/* Dylan Niermann, Southern Illinois University Carbondale, 8/26/2021, 9/23/2021 */

h1 {
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 400%;
  }
  h2 {
    padding: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 100%;
  }
h6 {
    padding: 20px;
    width: 160px;
    border: Spx double blue;
    color: blue;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    border-radius: lOpx 20px O 20px;
    box-shadow: 3px 3px 4px 4px rgb(76, 0, 255); 
  }
  
.rcorners1 {
    border-radius: 25px;
    background: #3621ad;
    padding: 20px; 
    width: 750px;
    height: 350px; 
    -webkit-filter: blur(250px);
    filter: blur(5px); 
  }
  
.rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  
  #rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  .colunm {
    column-count: 2;
    float: left;
    width: 50%;
  }
  .rowafter {
    content: "";
    display: table;
    clear: both;
  }

  .rentals {
    column-count: 2;
    width: 50%;
  }

  .imgblur
  {
    -webkit-filter: blur(250px);
    filter: blur(5px);
  }

/* Image Formatting */
  .image1
{
width:150px;
height:200px;
}
.image2
{
width:300px;
height:300px;
}

/* Navigation Menu Formatting */
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
	position: relative;    /* So the second submenu can be positioned within the first submenu */
}
#nav_menu ul ul li ul {
	position: absolute;
	left: -100%;           /* Position the second submenu at the left side of the li element */ 
	top: 0;                /* Position the second submenu at the top of the li element */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu ul::after {
	content: "";
	clear: both;
	display: block;
}

/* The styles for the formatting of the multi-tier navigation menu */
#nav_menu ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	width: 25%;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: 1em 0;
	text-decoration: none;
	background-color: rgb(38, 97, 224);
	color: rgb(3, 0, 0);
	font-weight: bold;
}

#nav_menu ul li a.current {
	color: yellow;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}
#nav_menu ul li:hover ul {
	width: 100%;
}
#nav_menu ul li:hover ul li a {
	display: block;
	width: 178px;
	text-align: center;
}

.slicknav_menu {
  display: none;
}

@media all and (max-width: 959px) {
  #nav_menu {
    display: none; 
  }
  .slicknav_menu {
    display: block;
  }
}
  @media all and (max-width: 767px) {
    #nav_menu {
      display: none; 
    }
    .slicknav_menu {
      display: block;
    }
}


/*
  Rollover Image stuff for the hover image
 */
.figure {
    position: relative;
    max-width: 100%;
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.figure:hover img.image-hover {
  opacity: 1;
}